################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

TaskParallelLibrary/bin
.vs/*
TaskParallelLibrary/obj
TaskParallelLibrary/vs/*
Asynchronous_Programming.sln
WindowAsync/bin
WindowAsync/obj